body {
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  background: #a2d2ff;
  color: #ffffff;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}

#bday-age {
  background: #EFB0C9;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0 10px;
}

#bday-date {
  margin: 0;
  background: #EFB0C9;
  border-radius: 5px;
  padding: 5px 10px;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  background-image: url('images/gift-cover.jpg');
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-size: cover;
  margin: 0 auto;
}

#gift-img-happy:hover {
  background-image: url('images/happy.gif');
}

#gift-img-hot:hover {
  background-image: url('images/hot.gif');
  background-position: center;
}
