.main {
  margin-top: 100px;
}
.logo-img {
  width: 300px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}