body {
    margin: 20px;
    
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    
    /* my web safe font i like */
    font-family: 'IBM Plex Sans', sans-serif;
;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    /* background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe; */

    /* my own design palette */
    background: #8fc0a9;
    color: #faf3dd;
    border-bottom: 6px solid #c8d5b9;
}