body {
  background-image: url('images/universe.jpg');
  color: white;
  background-size: cover;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.btn {
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: 'Orbitron', sans-serif;
}