body {
  margin: 0;
  text-align: center;
}

img {
  width: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* hero section style */
.hero-main {
  background-image: url('images/torshov.jpg');
  background-size: cover;
  background-position: top;
  height: 343px;
  width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  color: #ffffff;
  background-color: #1d3557;
  font-size: 32px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
}

.sub-text {
  color: #ffffff;
  background-color: #457b9d;
  width: 400px;
  font-size: 18.72px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}

